<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26688073140-nvdfhbsgfdu76g4h33ucikhs7u6b14pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26688073140-nvdfhbsgfdu76g4h33ucikhs7u6b14pa</string>
	<key>API_KEY</key>
	<string>AIzaSyCyEHfyHj4qvg4UkOjaM_3fF2cMOiADOuA</string>
	<key>GCM_SENDER_ID</key>
	<string>26688073140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dvidg.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-david2021</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-david2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26688073140:ios:3a8b10c1c20bd29eef16e1</string>
</dict>
</plist>